@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

body{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/030/191/494/small_2x/super-big-machine-technology-background-ai-photo.jpg');
    background-size: cover;
    /* background-color: rgb(255,188,243); */
}
.topnav, .navlinks{
    display: flex;
    justify-content: right;
    position: sticky;
    top:0;
    left: 0;
    z-index: 1100;
    margin-right: 50px;
    text-decoration: none;
    gap: 3rem;
    list-style: none;
    font-size: 20px;
}
.navlinks a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.06); */
    font-family: 'lacquer', sans-serif;
    transition: .2s;
}
.navlinks a:hover,
.navlinks a.active{
    color:white;
    border-radius: 10px;
    padding: 10px;
    background-color: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.6);
}
.hed{
    display: flex;
    justify-content: center;
}

.hed h1{
    font-family: 'lacquer', sans-serif;
    justify-content: center;
    font-size: 80px;
    color: white;
}

.drop{
    display: none;
}

.drop li{
    list-style: none;
}


.topnav ul li:hover .drop{
    display: block;
    position: absolute;
    background-color: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 15px;
    font-size: 8px;
    font-weight: 200;
    transition: .2s;
    margin: 10px;
   
}

.topnav ul li:hover .drop ul{
    display: block;
    
}

.topnav ul li:hover .drop ul li{
    padding: 5px;
    text-align: left;
}

.topnav ul li:hover .drop ul li a:hover{
    color: white;
}

.detss{
    display: flex;
    justify-content:space-around;
}

.namee, .address{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    margin: 50px; 
        border: 1px solid rgba(255, 255, 255, 0.3);
}



.lii li{
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: 'Coming Soon', cursive;
    
}
.lii{
    margin-left: 50px;
    margin-bottom: 50px;
    width: 40vw;
    
}


.ali li{
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: 'Coming Soon', cursive;
}



.ali{
    margin-left: 50px;
    margin-bottom: 50px;
    width: 40vw;
}

.heda{
   display: flex;
   justify-content: left;
   margin-left: 50px;
   align-items: center;
}

.heda h3{
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: 'Coming Soon', cursive;
}


.hmap{
    display: flex;
    justify-content: center;
    /* margin-left: 50px; */
    align-items: center;
    
 }

 .hmap h3{
     color: rgb(255, 255, 255);
     font-size: 36px;
     font-family: 'Coming Soon', cursive;
     
 }

.mapmain{
    display: flex;
    justify-content: center;
    align-content: center;
}

.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    width: 40vw;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.mapp{
    margin-left: 50px;
    margin-bottom: 50px;
    ;
    
}
.mapp iframe{
    filter: invert(100%);
    border-radius: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    border: 3px solid rgba(255, 255, 255, 0.3);
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links li{
    display: inline-block;
    margin: 15px;
    list-style: none;
    align-items: center;
}

.links li a img:hover{
    color: white;
    border-radius: 10px;
    padding: 1px;
    background-color: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: .1s;

}

@media (max-width:1080px){
    .topnav{
        font-size: 8px;
        gap: 10px;
        margin-right: 10px;
    }

    .navlinks a{
        font-size: 12px;
    }
    
    .navlinks a:hover,
    .navlinks a.active{
        color: black;
    }

    .hed h1{
        font-size: 50px;
    }

    .detss{
        flex-direction: column;
    }


    .namee, .address{
        margin: 15px;
    }

    .mapmain{
        display: none;
    }

    .name{
        display: flex;
        flex-direction: row;
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .lii li{
        font-size: 28px;
        font-weight: 600;
    }

    .ali li{
        font-size: 28px;
    }

    .heda h3{
        font-size: 42px;
    }

    body{
        background-image: url('https://img.freepik.com/free-vector/colorful-paint-splashes_1035-7496.jpg');
        background-size: cover;
    }
}


@media (max-width:430px){
    .topnav{
        font-size: 8px;
        gap: 10px;
        margin-right: 10px;
    }

    .navlinks a{
        font-size: 12px;
    }
    
    .navlinks a:hover,
    .navlinks a.active{
        color: black;
    }

    .hed h1{
        font-size: 50px;
    }

    .detss{
        flex-direction: column;
    }


    .namee, .address{
        margin: 15px;
    }

    .mapmain{
        display: none;
    }

    .name{
        display: flex;
        flex-direction: row;
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .lii li{
        font-size: 16px;
        font-weight: 600;
    }

    .ali li{
        font-size: 16px;
    }

    

    body{
        background-image: url('https://img.freepik.com/free-vector/colorful-paint-splashes_1035-7496.jpg');
        background-size: cover;
    }
}